<% provide(:title, "Home") %>
<div class="center jumbotron">
  <h1>Witaj w systemie Sprawozdania PRz</h1>
  <h2>Zaloguj się, aby skorzystać z serwisu</h2>

  <%= link_to "Zaloguj się", "#", class: "btn btn-lg btn-primary" %>
</div>

